html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}

.bs {
    margin-top: 20px;
}

.wrapper {
    clear: both;
}

.bs {
    margin-top: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #f5f5f5;
}

footer p {
    padding: 10px 0;
}

footer a {
    color: #76a0b8;
    text-shadow: 1px 2px #fff;
}

.container {
    max-width: 1000px;
}

.page-header {
    margin-top: 20px !important;
}

.breadcrumb {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
}

.add-button {
    margin: 5px 0 0 0;
}

.my-form-buttons {
    margin-bottom: 120px !important;
}

.navbar-brand {
    padding: 12px 20px;
}

/* borderless table */
.fixed-table-container, .table th, .table td {
    border: none !important;
}